<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicCRS</title>
    <link rel="stylesheet" href="https://unpkg.com/pico.css"/>
    <link rel="stylesheet" href="/assets/style.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>MusicCRS</h1>
    </header>
    <main>
        <style>
        </style>
        <div id="chat-area">
            <!-- renders components/chat.html -->
        </div>
        <form id="form" onsubmit="return false;">
            <textarea name="text" placeholder="Text" aria-label="Text" rows="1"
                      oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"></textarea>
            <button id="submit-button"
                    type="submit"
                    hx-post="/components/chat"
                    hx-target="#chat-area"
                    hx-swap="beforeend"
                    hx-on="htmx:afterOnLoad: scrollToBottom()"
            >
            <span class="text-hover">Ctrl + Enter</span>
            <span class="text-default">Submit</span>
            </button>
        </form>
    </main>
    <script src="/assets/script.js"></script>

</body>
</html>




